.heading{
    justify-content: center;
    align-items: center;
}
.container{
    padding: 15px;
}
.pending{


    border-radius: 20px;
}
.card-pending{
    border: 1px solid #a6a4e4;
    border-radius: 15px;
    /* background: linear-gradient(to right, #ffffff, #3B3B98); */


    

}
.viewbtn{
    background-color: #3B3B98;
    color: white;
}
.iconss{
color: #3B3B98;
}
.fa-circle{
    color: red;
}